@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

*, header, footer {
    font-size: 2rem;
    font-family: "Orbitron", serif;
    font-weight: 400;
    text-align: center;
}

header {
    height: 75px;
    width: 100%;
    border: 2px solid black;
    background:navy;
}
footer {
    height: 75px;
    width: 100%;
    bottom:0px;
    /* left: 0px; */
    position: fixed;
    border: 2px solid yellow;
    background:navy;
}

body {
    /* background: url("images/street.jpg") no-repeat fixed center center;
    background-size: cover;  */
    background-color: rgb(71, 15, 202);
}



nav {
    text-align: center;
    margin-bottom: 75px;
    font-size: 25px;
}
ul {    
    text-align: center;
}
li {
    display: inline;
    margin: 10px;
    color: rgb(109, 139, 0);
}

a {
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:hover {
    color: deeppink;
    text-decoration: underline;
}
a:hover {
    opacity: .80;
}
a:active {
    color: darkcyan;
}



h1 {
    text-align: center;
    font-size: 5.0rem;
    color: rgb(33, 158, 241);
}
h2 {
    color: rgb(33, 158, 241);
}



div {
    /* background-color: blue; */
    border: 2px solid green;
    margin: 2%;
    margin-bottom: 10%;
    margin_top; 0;
}

.main {
    /* background-color: rgba(27, 65, 5, 0.726); */
    margin: 20px auto;
    padding: 20px;
    height: 400px;
    width: 400px;
    text-align: center;
}


.div11 {
    height: 250px;
    width: 45%;
    float: left;
    margin-bottom: 15%;
}

p {
    color: rgb(33, 158, 241);
    text-align: center;
    border: 2px solid green;
}

.p1 {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
}


.div21 {
    
    margin: 0, 1%;
    width: 45%;
    height: 500px;
    float: left;
    
}

img {
    display: block;
    width: 45%;
    margin: 2% auto;
    margin_bottom:2%;
}
.img12 {
    width: 200px;
    height: 200px;
    /* padding: 10px; */
    border: 1px solid blue;
}
.img1 {
    width: 800px;
    height: 400px;
    /* padding: 10px; */
    border: 1px solid blue;
}
.img21 {
    width: 400px;
    height: 200px;
    /* padding: 10px; */
    border: 1px solid blue;
}

.img22 {
    width: 200px;
    height: 200px;
    /* padding: 10px; */
    border: 1px solid blue;
}



/* 
p {
    color: rgb(255, 255, 255);
    background-image: url("images/cat.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.8rem;
} */


/* 
.div0 {
    width: 570px;
    border: 1px solid rgb(148, 17, 148);
    text-align: center;
    margin: 0 auto;
    background-color: rgba(43, 6, 6, 0.507);
    padding: 10px;
    border-radius: 10px;
    /* margin-bottom: 75px; */
    text-shadow: 1px 1px 1px black;
    text-align: left;
} 
*/

/*


@media (min-width:869px) and (max-width:1100px) {
    img {
        width: 275px;
        height: 275px; 
        padding:5px;  
    }
}


@media (min-width:721px) and (max-width:868px) {
    img {
        width: 350px;
        height: 350px;   
    }
    .div1 {
        flex-flow:row wrap;
    }
}
@media (min-width:581px) and (max-width:720px) {
    img {
        width: 280px;
        height: 280px;   
    }
    .div1 {
        flex-flow:row wrap;
    }
}



@media (min-width:351px) and (max-width:580px) {
    img {
        width: 350px;
        height: 350px; 
    }
    .div1 {
        flex-flow:row wrap;
    }

    .div0 {
        width: 100%;
    }
}

@media (max-width:350px) {
    img {
        width: 100%;
        height: 100%; 
    }
    h1 {
        font-size: 4rem;
    }
    .div1 {
        flex-flow:row wrap;
    }
    .div0 {
        width: 100%;
    }
}
 */
