@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

*, header, footer {
    font-size: 2rem;
    font-family: "Orbitron", serif;
    font-weight: 400;
    text-align: center;
}

header, footer {
    /* height: 300px; */
    width: 100%;
    border: 2px solid black;
    background:navy;
}


body {
    background: url("images/street.jpg") no-repeat fixed center center;
    background-size: cover; 
}
img {
    width: 350px;
    height: 350px;
    padding: 10px;
}

h1 {
    text-align: left;
    margin auto;
    
    font-size: 5.0rem;
    color:blue;
    border: 1px solid black;
}

.divh {
    border: 1px solid black;
    height: 120px;
    background: black;
}

.div1 {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

a:hover {
    opacity: .80;
}




nav {
    text-align: center;
    margin-bottom: 75px;
    font-size: 25px;
}
ul {    
    text-align: center;
}
li {
    display: inline;
    margin: 10px;
    color: rgb(109, 139, 0);
}
a {
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: yellow;
}
a:hover {
    color: deeppink;
    text-decoration: underline;
}
a:active {
    color: darkcyan;
}



.div11 {
    width: 50%;
    height: 500px;
    float: left;
 
}
.div12 {
    width: 50%;
    height: 500px;
    float: left;

}
.div13 {
    width: 50%;
    height: 500px;
    float: left;
  
}
.div14 {
    width: 50%;
    height: 500px;
    float: left;
}






.div0 {
    width: 570px;
    border: 1px solid rgb(148, 17, 148);
    text-align: center;
    margin: 0 auto;
    background-color: rgba(43, 6, 6, 0.507);
    padding: 10px;
    border-radius: 10px;
    /* margin-bottom: 75px; */
    text-shadow: 1px 1px 1px black;
    text-align: left;
}

p {
    color: rgb(255, 255, 255);
    background-image: url("images/cat.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.8rem;
}









@media (min-width:869px) and (max-width:1100px) {
    img {
        width: 275px;
        height: 275px; 
        padding:5px;  
    }
}


@media (min-width:721px) and (max-width:868px) {
    img {
        width: 350px;
        height: 350px;   
    }
    .div1 {
        flex-flow:row wrap;
    }
}
@media (min-width:581px) and (max-width:720px) {
    img {
        width: 280px;
        height: 280px;   
    }
    .div1 {
        flex-flow:row wrap;
    }
}



@media (min-width:351px) and (max-width:580px) {
    img {
        width: 350px;
        height: 350px; 
    }
    .div1 {
        flex-flow:row wrap;
    }

    .div0 {
        width: 100%;
    }
}

@media (max-width:350px) {
    img {
        width: 100%;
        height: 100%; 
    }
    h1 {
        font-size: 4rem;
    }
    .div1 {
        flex-flow:row wrap;
    }
    .div0 {
        width: 100%;
    }
}

